@use "styles/_colors" as *;
@import "~rfs/scss";


// Nav

.navbar {
  margin: 0 auto;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;

  @media (max-width: 768px) {
    align-items: center;
  }

  &_wrapper {
    background: $primary-blue;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid $primary-blue;
    transition: box-shadow 0.3s ease-in-out;

  }

  // Logo

  .logo {
    // display: flex;

    & img {
      display: inline-block;
      width: auto;
      height: 2em;
    }

    & a {
      position: relative;
      display: flex;
      margin: 0;
      padding: 0;

      &:after {
        position: absolute;
        bottom: -16px;
        width: 100%;
        max-width: 20%;
        height: 6px;
        content: "";
        border-radius: 50px;
        transition: max-width ease 0.3s;
        background: $lightest-blue;
      }

      &:hover:after {
        max-width: 70%;
      }
    }
  }

  // Menu

  .menu {
    // =ul
    margin: 0;
    padding: 0;
    list-style: none;
    background: $primary-blue;
    display: flex;
    margin-bottom: 5px;

    & li {
      &:last-child {
        a {
          margin-right: 0;
        }
      }

      & a {
        font-family: "Montserrat-Medium";
        position: relative;
        display: block;
        color: darken($light-color, 20%);
        font-weight: 550;
        margin: 0 20px;
        text-decoration: none;
        line-height: 0.7;

        &:hover {
          color: $light-color;
          &:before {
            width: 70%;
            opacity: 1;
          }
        }

        &.active {
          color: $light-color !important;
          &:before {
            width: 70%;
            opacity: 1;
          }
        }

        &:before {
          transition: all ease 0.3s;
          transform: translateX(-50%);
          width: 20%;
          height: 6px;
          position: absolute;
          bottom: -15px;
          left: 50%;
          opacity: 0;
          pointer-events: none;
          content: "";
          border-radius: 6px;
          background: $lightest-blue;
        }
      }
    }

    @media (max-width: 768px) {
      transition: all ease 1s;
      opacity: 0;
      max-height: 0px;
      overflow: hidden;
      visibility: none;
      display: flex;
      position: fixed;
      right: 0;
      top: 84px; // set to navbar height
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding-bottom: 10px;
      margin-top: -100%;
      & li {
        transition: all ease 1s;
        opacity: 0;
        width: 92%;
        display: flex;
        justify-content: flex-end;
        & a {
          margin: 12px 0;
          display: flex;

          &:before {
            transform: translateX(-100%);
            left: 100%;
          }
        }
      }
      &.active2 {
        background: lighten($primary-blue, 2%);
        margin-top: 0%;
        opacity: 1;
        max-height: 500px;
        border-top: 1px solid $dark-blue;
        border-bottom: 1px solid $dark-blue;
        // :first-child a {
        //   margin-top: 0;
        // }
        & li {
          opacity: 1;
        }
        & a {
          margin: 12px 0;
        }
      }
    }
  }

  // Responsive mobile bar

  .mobile_bar {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em 0.5em;
    display: none;
    background: $primary-blue;
    @media (max-width: 768px) {
      display: flex;
    }
    &.active3 {
      background: lighten($primary-blue, 5%);
      span {
        background: darken($light-color, 20%);
      }
    }
    span {
      display: block;
      height: 2px;
      width: 40px;
      margin: 4.5px;
      background: darken($light-color, 20%);
    }
    &:hover {
      span {
        background: $light-color;
      }
    }
  }
}

.scroll {
  // border-bottom: 2px solid $dark-blue;
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 40%), 0 4px 10px 0 rgb(0 0 0 / 40%);
}
