$light-color: #f5f5f5;

// theme colors
$white-blue: #bae0f5;
$lightest-blue: #0093e1;
$lighter-blue: #33a9e8;
$light-blue: #0269a1;
$primary-blue: #01466b;
$dark-blue: #141c3a;
$light: #86d7ff48;
$offcolor: #085498;



$background: "#f5f5f5";

$primary: "#2B7546";
$secondary: "#422D09";
$tertiary: "#AC7C36";
$light: "#E3E2DF";
$accent: "#F08E88";
$accent-text: "#ddeac1";
$primary-light: "#468F5E";
$primary-lighter: "#61AA77";
$primary-lightest: "#CEFFE3";
$primary-dark: "#095C2F";
$primary-darker: "#004419";
$primary-darkest: "#002D00";
$secondary-light: "#6F4D18";
$secondary-lighter: "#946F2A";
$secondary-dark: "#3D1A05";
$secondary-darker: "#2A1302";
$tertiary-light: "#C4A246";
$tertiary-lighter: "#DBC66D";
$tertiary-dark: "#8B5D25";
$tertiary-darker: "#63421B";
$light-light: "#F3F3F0";
$light-lighter: "#FAFAF7";
$light-dark: "#C9C9C6";
$light-darker: "#AFAFAE";
$accent-light: "#F7A4A4";
$accent-lighter: "#FBC6C6";
$accent-dark: "#D07E7E";
$accent-darker: "#A65656";
$chili: "#E32227";
$chili-light: "#E84B4F";
$chili-lighter: "#ED7377";
$chili-lightest: "#F29C9E";
$chili-dark: "#BF181D";
$chili-darker: "#961316";
$chili-darkest: "#6D0E10";
$tomato: "#9C2813";
$tomato-inner: "#b9261d";
$dark: "#2D3538";
$active: "#abac7f";
$white: "#FFFFFF";
$faded-primary: "#AED0B6";

.colors {
  color: #3face7;
  color: #141c3a;
  color: #0093e1;
  color: #d1f6ff;
  color: #a2eeff;
  color: #2c8ca2;
  color: #4863e7;
  color: #3fe763;
  color: #2ca245;
  color: #e7893f;
  color: #a2602c;
  color: #0d8cba;
  color: #6768b8;
  color: #275187;
  color: #0522a6;
}


