@use "src/styles/_colors" as *;
@import "~rfs/scss";

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";



*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @include font-size(22px);
  line-height: 1.6;
  font-weight: 400;
  color: $dark-blue;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande",
    sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background: $light-color;
}

h1 {
  @include font-size(55px);
}

h2 {
  @include font-size(44px);
}

h3 {
  @include font-size(33px);
}

h4 {
  @include font-size(22px);
}

p {
  @include font-size(16px);
}

a {
  @include font-size(18px);
  color: $dark-blue;
  text-decoration: none;
}

input {
  @include font-size(16px);
}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#site-wrapper {
  min-height: 100vh;
}